body {
    background-color: #F5EEFC;
    color: #2A1B3D;
    font-family: Arial, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .main-container {
    max-width: 800px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  h1, h2, h3 {
    color: #6C50A3;
  }
  
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 5px 0;
  }
  
  table {
    border-collapse: collapse;
  }
  
  th, td {
    padding: 5px;
    border: 1px solid #6C50A3;
  }
  
  th {
    background-color: #A78BCC;
    color: #FFFFFF;
  }
  
  input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  input[type="submit"] {
    background-color: #6C50A3;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #A78BCC;
  }
  